body {
    background: linear-gradient(125deg, #5f0926, #622f89 );
    min-height: 100vh;
}

.page {
    padding: 30px;
    text-align: center;

}


.my-card {
    width: 100%;
    min-height: 150px;
    height: 100%;
    padding: 20px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 4px 4px 12px black;
    background: linear-gradient(125deg, #38c9d9, #384bd9 );
}

.my-card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.text {
    text-align: left;
    max-width: 170px;
}

.text a {
    color: white;
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}

.text h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
}

.text p {
    margin: 0;
    font-size: 14px;
}

.image img {
    width: 70px;
    height:70px;
    object-fit: contain;
}

.home-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #38c9d9;
    color: aliceblue;
    text-decoration: none;
    border-radius: 8px;
}

.home-btn:hover {
    background-color: #2eaaba ;
}

.btn-primary {
    background-color: #38c9d9;
    border: none;
}

.btn-primary:hover {
    background-color: #2eaaba;
}