{% extends "layout.html" %}

{% block content %}
<div class="page">
    <div class="container">
        <h1 class="text-white mb-4">{{category_name}}</h1>
        {% if crystals %}
            <div class="row g-4">
                {% for crystal in crystals %}
                    <div class="col-md-6">
                        <div class="my-card">
                            <div class="text">
                                <h2>{{ crystal.name }}</h2>
                                <p>{{ crystal.description }}</p>
                                <p>Uses: {{ crystal.uses }}</p>
                            </div>
                            <div class="image">
                                <img src="{{ url_for('static', filename='images/' + crystal.image) }}">
                            </div>
                         </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>You don't have any crystals in this category yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}