
{% extends "layout.html" %}

{% block content %}
<div class="page">
    <div class="container">
        <h1 class="text-white mb-4 text-center">Add a crystal to your collection</h1>

        <form method="POST" action="{{ url_for('insert') }}" enctype="multipart/form-data">
           
            <div class="row mb-3 align-items-center">
                    <label class="col-sm-3 col-form-label text-white">Crystal Name:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="name" required>
                    </div>
                <div class="row mb-3 align-items-center">
                    <label class="form-label text-white">Description:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="description">
                    </div>
                </div>
                <div class="col-md-6 text-start">
                    <label class="col-sm-3 col-form-label text-white">Crystal Image:</label>
                    <div class="=col-sm-6">
                        <input type="file" class="form-control" name="image" required>
                    </div>
                </div>
                <div class="col-md-6 text-start">
                    <label class="col-sm-3 col-form-label text-white">Uses:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="uses" required>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <label class="col-sm-3 col-form-label text-white">Category:</label>
                    <div class="col-sm-6">
                        <select class="form-select" name="category" required>
                            <option value="Raw Crystals">Raw Crystals</option>
                            <option value="Tumbled Crystals">Tumbled Crystals</option>
                            <option value="Crystal Towers">Crystal Towers</option>
                            <option value="Carved Crystals">Carved Crystals</option>
                            <option value="Crystal Hearts">Crystal Hearts</option>
                            <option value="Crystal Clusters">Crystal Clusters</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100 mt-3">Add Crystal to collection</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}   
